.pagecontainer{
    max-width:1200px;
    margin:auto;
    background:radial-gradient(grey , black);
    color:white;
    font-family:cursive;
}
h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}
.img{
    margin-left: 250px;
    margin-right:200px;
}
.flexcontainer{
    display: flex;
    flex-flow: row wrap;
    margin:15px;
}
.thumbnail{
    flex:1 0 0;
    margin:20px;
}
ul{
    list-style-type: none;
}
a:link{
    text-decoration: none ;
    color:fuchsia
}
a:visited{
    color: royalblue;
}
.footer{
    border-top: 1px solid red;
    text-align: center;
}
table, th, td{
    border:1px solid royalblue;
    border-collapse: collapse;
    text-align: center;
    margin:auto;
}
tr:hover{
    background-color: skyblue;
}
/*Styles for tablet*/
@media screen and (max-width:768px){
    .pagecontainer{
        max-width: 768px;
        margin:auto;
    }
    .img{
        width:500px;
        height:300px;
        margin-left:60px;
    }
    table{
        width:700px;
        height:400px;
    }
    .thumbnail{
        width:150px;
        height:150px;
    }
    #thumbnail1, #thumbnail2{
        flex:1 0 0;
    }
    #thumbnail3, #thumbnail4{
        flex:1 0 0;
    }
}
@media screen and (max-width:480px){
    .pagecontainer{
        max-width: 480px;
        margin:auto;
        font-size: 16px;
    }
    .img{
        width:350px;
        height:150px;
        margin-left:50px;
    }
    .thumbnail{
        width:100px;
        height:100px;
        flex:1 0 100%;
    }
    table{
        width:400px;
        height:500px;
    }
}